<% if (dresses.length != 0) {%>
<p class="page-header">Your Wishlist</p>
<% } else {%>
<p class="page-header">Your Wishlist is empty!</p>
<% }%>

<div class="cards">
  <%for (let dress of dresses) {%>

  <div class="ui-card">
    <footer class="content">
      <span
        ><a href="<%= dress.website_url %>"
          ><p class="card-title"><%= dress.title %></p></a
        ></span
      >
      <span>
        <p class="card-title"><%= dress.price %>$</p>
      </span>
    </footer>

    <img src="<%= dress.photo_url%>" alt="" />
    <p class="card-title"><%= dress.first_name %> <%= dress.last_name %></p>
  </div>
  <%}%>
</div>
