<h2>Timeline</h2>

<div class="cards">
  <%for (let dress of dresses) {%>

  <div class="ui-card">
    <h5>Brand : <%= dress.title %></h5>
    <h5>Price : <%= dress.price %></h5>
    <h5>Posted By: <%= dress.posted_by %></h5>
    <h5>Posted On: <%= dress.posted_at %></h5>
    <img src="<%= dress.photo_url%>" alt="" />
  </div>

  <%if (userId) { %>
  <form action="/wishlist" method="post">
    <input type="hidden" name="dress_id" value="<%= dress.id %>" />

    <%if (wishlistedIds.includes(dress.id)) {%>
    <p>Inside wishlistId</p>
    <button><i class="fa-solid fa-heart"></i></button>
    <%} else {%>
    <button><i class="fa-regular fa-heart"></i></button>
    <%}%>
  </form>
  <%} %> <%}%>
</div>
