<div class="login-signup-page">
  <div class="login-signup-form">
    <form action="/dresses/<%= dress.id %>" method="post">
      <input type="hidden" name="_method" value="PUT" />
      <input
        type="text"
        placeholder="name"
        name="title"
        value="<%= dress.title %>"
      />
      <input
        type="number"
        placeholder="price"
        name="price"
        value="<%= dress.price %>"
      />
      <input
        type="text"
        placeholder="website url"
        name="websiteurl"
        value="<%= dress.website_url %>"
      />
      <input
        type="text"
        placeholder="image url"
        name="imageurl"
        value="<%= dress.photo_url %>"
      />
      <br />
      <br />
      <button>UPDATE</button>
    </form>
  </div>
</div>
